<div class="container">

  <div class="loginContent">

    <div class="loginTitle">
      <h2>DesafioPHP</h2>
    </div>

    <form [formGroup]="formLogin" (submit)="onSubmit()">

      <div class="login">
        <label for="login">Login:</label>
        <input type="text" id="login" formControlName="email">
      </div>

      <div class="password">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password">
      </div>

      <button type="submit" [disabled]="formLogin.invalid">Login</button>
    </form>
    <!-- {{formLogin.value | json}} -->

  </div>
</div>
