.buttonsInteractor {
  display: flex;
  margin: 0px 10px;
  justify-content: space-between;
  border: 0.1em solid white;
  padding: 0px 5px;
  button {
    border-radius: 4px;
    padding: 5px 10px;
    margin: 5px;
  }
  .list {
    padding: 5px 30px;
  }
  div {
    input {
      padding: 5px;
      border-radius: 4px;
      border: 0.1em solid transparent;
      &:focus {
        transition: 0.5s;
        border-color: #ffff;
        background-color: #ffffff88;
      }
    }
    input::placeholder {
      color: black;
    }
  }
}
.crudContent {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  .contents {
    display: flex;
    .neighborContent {
      margin: 10px;
      padding: 20px;
      border: 0.1em solid white;
      border-radius: 5px;
      form {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        .ctInput {
          display: flex;
          flex-direction: column;
          justify-content: center;
          label {
            color: #ffff;
          }
          input {
            padding: 5px;
            border-radius: 5px;
            border: 0.1em solid transparent;
            &:focus {
              transition: 0.5s;
              border-color: #ffff;
              background-color: #ffffff88;
            }
          }
        }
        button {
          border-radius: 4px;
          padding: 5px 10px;
          margin: 5px;
        }
      }
    }
    .cityContent {
      margin: 10px;
      padding: 10px;
      border: 0.1em solid white;
      border-radius: 5px;
      form {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        .ctInput {
          display: flex;
          flex-direction: column;
          justify-content: center;
          label {
            color: #ffff;
          }
          input {
            padding: 5px;
            border-radius: 5px;
            border: 0.1em solid transparent;
            &:focus {
              transition: 0.5s;
              border-color: #ffff;
              background-color: #ffffff88;
            }
          }
        }
        button {
          border-radius: 4px;
          padding: 5px 10px;
          margin: 5px;
        }
      }
    }
    .crudTitle {
      padding: 20px;
      h2 {
        font-size: x-large;
        color: #ffff;
      }
    }
  }
}
